cobbler:
  bind_master: 10.0.4.10
  next_server: 10.0.4.10
  server: 10.0.4.10
  manage_dhcp: 1
  restart_dhcp: 1
  dns_module: manage_dnsmasq
  dhcp_module: manage_dnsmasq
  dnsmasq-dhcp-range: 10.0.4.10,proxy
  manage_tftpd: 1
  tftpd_module: manage_in_tftpd
  pxe_just_once: 1
  default_virt_bridge: virbr0
  default_virt_type: qemu
  register_new_installs: 1

apache:
  modules:
    enabled:
      - proxy
      - proxy_http
      - version
